@page "/"
@namespace SecretSanta.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Merry Seshmas</title>
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="SecretSanta.Web.styles.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" /> *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

<style type="text/css">
  /* h1, h2 { text-align: center; font-family: sans-serif; } */
  img { opacity: 0.6; transition: transform 1s, opacity 0.5s;}
  /* width: 200px; */
  img:hover {transform: rotate(10deg); opacity: 1;}
  /* html { max-width: 1250px; margin: 0 auto;} */
      .errorMessage {
          font-family: sans-serif;
          background-color: red;
          padding: 1px 5px; 
          font-size: 1em;
          margin: 20px;
          text-align: center;
      }
  </style>

    <!-- Google Analytics -->
    <script src="js/analytics.js"></script>
<script src="_framework/blazor.server.js"></script>
<script src="js/roulette.js"></script>
<script src="js/spinthewheel.js"></script>
</body>
</html>
